<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Runaway Bride Proposal MadLib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the blanks with the correct type of word for a hilarious MadLib!</h1>
    <form action='/Result'>
      <div class='form-group'>
        <label for='Adjective1'>Adjective</label>
        <input id='Adjective1' name='Adjective1' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='Noun1'>Noun</label>
        <input id='Noun1' name='Noun1' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='Number'>Number</label>
        <input id='Number' name='Number' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='Noun2'>Noun</label>
        <input id='Noun2' name='Noun2' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='Adjective2'>Adjective</label>
        <input id='Adjective2' name='Adjective2' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='Verb'>Verb</label>
        <input id='Verb' name='Verb' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='Noun3'>Noun</label>
        <input id='Noun3' name='Noun3' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='BodyPart'>Body Part</label>
        <input id='BodyPart' name='BodyPart' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='Adjective3'>Adjective</label>
        <input id='Adjective3' name='Adjective3' class='form-control' type='text'>
      </div>
      <button type='submit' class='btn btn-success'>Submit</button>
    </form>
  </body>
</html>
